@charset "UTF-8";

@charset "UTF-8";

body{
    background-image: linear-gradient(180deg,rgb(174, 208, 253), rgb(107, 171, 255) );
}

section#login{
    width: 1180px;
}

section#login > div#img{
    background: red url(../imagens/beautiful-anime-minimalist-beach.jpg) bottom center/cover no-repeat fixed;
    height: 100%;
    float: right;
    width: 24%;
    border-radius: 10px;
}