@charset "UTF-8";

:root{
    --Cor_Verde: #4aa19e;
    --Cor_Lilás: #5f2c82;
}

body, html{
    background-image: linear-gradient(45deg, #4aa19e, blue);
}

section#Login{
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.37);
    color: white;
    width: 95vw;
    background-color: rgb(67, 173, 168);

}

section#Login p{
    padding: 10px;
}

section#Login > div#Imagem{
    background: var(--Cor_Lilás) url(../imagens/anime-beach-hd-wallpaper-by-juh-juh.jpg) center bottom/cover no-repeat;
    float: left;
    width: 30%;
    height: 100%;
    transition: 0.3;
}